html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* Typography og icons*/
h1 {
  color: #0f8cdf;
  margin-bottom: 10px;
  font-size: 3rem;
}

i {
  font-size: 15px;
  cursor: pointer;
}

.fa-solid {
  color: #999;
}

.liked {
  color: red;
}

reposted {
  color: limegreen;
}

/* Layout */

main,
header {
  width: 290px;
  margin: 0 auto;
}

header {
  padding-bottom: 25px;
  display: flex;
  gap: 10px;
}

.post-input-area {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

/* textareas + btn */

textarea {
  border: none;
  resize: none;
  padding: 10px;
  margin: 0 0 20px 0;
  height: 60px;
  width: 100%;
  font-size: 20px;
  line-height: 30px;
}

button {
  background-color: #1da1f2;
  border: none;
  color: white;
  padding: 10px 19px;
  border-radius: 20px;
  width: 100%;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}
/* post*/

.post {
  border-top: 1px solid lightgray;
  padding: 20px 0 0 0;
  width: 100%;
  margin: 15px 0;
}

.post-inner {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.post-details {
  display: flex;
  font-size: 13px;
  justify-content: space-between;
  width: 160px;
}

.post-detail {
  display: flex;
  gap: 4px;
}

.post-reply {
  border-top: 1px solid lightgray;
  padding: 20px 0 0 0px;
  margin: 10px 0 10px 40px;
  width: 80%;
}

.handle {
  font-size: 12px;
  font-weight: 500;
  color: #555;
  margin-top: 0;
}

.post-text {
  width: 207px;
  font-size: 14px;
  line-height: 20px;
}

/* Images*/
.logo {
  width: 40px;
  height: auto;
  object-fit: contain;
  margin-top: 22px;
}

.bubble-pic {
  border: 1px solid lightgray;
  border-radius: 50%;
  width: 48px;
}

/* utility */
.hidden {
  display: none;
}
